---
import { Image } from "astro:assets";

const { post } = Astro.props;

const { slug } = post;
const { title, description, img_path, img_alt, date } = post.data;
// generate url manually
const url = `/portfolio/posts/${slug}`;
---

<div
  class="relative bg-primary shadow-md rounded-lg dark:shadow-dk-secondary dark:bg-dk-primary transform transition duration-500 hover:scale-105 overflow-hidden"
>
  <div class="w-full">
    {
      img_path && (
        <a href={url} class="block w-full">
          <Image
            class="w-full md:h-56 h-28 object-cover rounded-t-lg"
            src={img_path}
            alt={img_alt || title}
            width={1200}
            height={600}
          />
        </a>
      )
    }
  </div>

  <div class="px-4 pt-4 pb-3 md:h-40 h-36 bg-slate-100 dark:bg-transparent">
    <div>
      <a href={url}>
        <h5
          class="text-xl font-semibold tracking-tight hover:text-secondary dark:hover:text-dk-secondary text-text dark:text-dk-text"
        >
          {title}
        </h5>
      </a>

      <p class="antialiased text-text dark:text-dk-text text-sm line-clamp-3 overflow-hidden">
        {description}
      </p>
      <div class="flex items-center justify-between mt-4">
        <div class="flex items-center flex-row justify-between w-full">
          <a
            href={url}
            class="text-sm font-semibold text-text dark:text-dk-text hover:underline"
            >Read more</a
          >
          <p class="text-sm text-gray-600 dark:text-gray-400">{date.toLocaleDateString()}</p>
        </div>
      </div>
    </div>
  </div>
</div>
